

  #slider-best-seller{
    position: relative;
      }
    .owl-carousel img.img-thumbnail{
      height: 250px;
    
    }
       .prev-btn{
      right: 0;
     border-radius: 3px 0 0 3px;
    
      }
    
    
    .next-btn{
     left: 0;
     border-radius: 0 3px 3px 0;
    
      }
    .prev-btn,.next-btn{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:999;
    user-select: none;
    }
    .prev-btn:hover,.next-btn:hover{
      background-color: rgba(0, 0, 0, 0.9);
    }