/* css variables colors */


.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 960px; /* 2 */

}
* {
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
 
}
a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: var(--bs-primary);
}

i {
  line-height: 100%;
  vertical-align:middle;
padding-right: 3px;
}


i + span{
  line-height:inherit;
  vertical-align: middle;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: normal;
  padding-left: 2px;
}
